<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleVersion</key>
	<string>3.2</string>
	<key>DocSetFeedURL</key>
	<string>https://raw.github.com/flier/spring-framework.docset/master/spring-framework.xml</string>
	<key>CFBundleName</key>
	<string>Spring Framework API Reference</string>
	<key>CFBundleIdentifier</key>
	<string>spring</string>
	<key>DocSetPlatformFamily</key>
	<string>spring</string>
	<key>DocSetFeedName</key>
	<string>Flier Lu &lt;flier.lu@gmail.com&gt;</string>
</dict>
</plist>
